:root {
  --border-radius: 8px;
  --color-accent: #1451b4;
}

html, body {
  padding: 0;
  margin: 0;
  font-family: Inter, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu,
  Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  background: #121212;
  color: white;
}


* {
  box-sizing: border-box;
}